<h1>owittnan</h1>
<body class="grid">
    <div class="wrapper">
        <div>
            <h2>about</h2>
	    I'm Oscar, a student of Production Arts and aspiring lighting designer. Outside of that I am a programmer and angry person.
        </div>
        <div>
            <h2>things</h2>
	    <!--<a rel="me" href="https://tech.lgbt/@lyiriyah">mastodon</a>-->
	    <a href="https://tildes.net/the-boy-sebastian">tildes</a>
	    <a href="https://codeberg.org/lyiriyah">codeberg</a>
            <a href="/blog.html">blog posts</a>
	    <!--<input onclick="change('discord')" value="discord" type="button" id="discord" class="button"/>-->
            <input onclick="change('email')" value="email" type="button" id="email" class="button"/>
	</div>
        <!--<div>
            <h2>tools i use</h2>
            <table>
                <tr>
                  <td class="left">editor</td>
                  <td><a title="for most things" href="https://github.com/helix-editor/helix">helix</a></td>
                </tr>
                <tr>
                    <td class="left">wm</td>
                    <td><a href="https://github.com/qtile/qtile">qtile</a></td>
                </tr>
                <tr>
                    <td class="left">browser</td>
                    <td><a href="https://gitlab.com/librewolf-community">librewolf</a></td>
                </tr>
                <tr>
                    <td class="left">shell</td>
                    <td><a title="ew sourceforge" href="https://zsh.sourceforge.io">zsh</a></td>
                </tr>
                <tr>
                    <td class="left">terminal</td>
                    <td><a href="https://github.com/alacritty/alacritty">alacritty</a></td>
                </tr>
            </table>
	</div>-->
    </div>
</body>
